body{
    background-image: url(https://image.shutterstock.com/image-photo/business-people-silhouette-working-cooperation-260nw-243632386.jpg);
    background-repeat:no-repeat;
    background-size: cover;

}